<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Select Book, Module, and Test Type</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script>
      function updateTestTypeOptions() {
        var selectedBook = document.querySelector(
          'input[name="selected_book"]:checked'
        )?.value;
        var testTypeOptions = document.querySelectorAll(".testTypeOption");
        var specialTestTypeOption1 = document.getElementById(
          "specialTestTypeOption1"
        );
        var specialTestTypeOption2 = document.getElementById(
          "specialTestTypeOption2"
        );

        testTypeOptions.forEach(function (option) {
          option.style.display = "none";
        });

        if (selectedBook && selectedBook.includes("_sentence")) {
          specialTestTypeOption1.style.display = "block";
          specialTestTypeOption2.style.display = "block";
        } else {
          testTypeOptions.forEach(function (option) {
            if (!option.id.startsWith("specialTestTypeOption")) {
              option.style.display = "block";
            }
          });
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        updateTestTypeOptions();
      });
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Selection</h1>
      <h2>Select a Book</h2>
      <form action="{{ url_for('select') }}" method="post">
        {% for book in books %}
        <label>
          <input type="radio" name="selected_book" value="{{ book }}" required
          {% if session['selected_book'] == book %} checked {% endif %}
          onchange="updateTestTypeOptions()"> {{ book }}
        </label>
        {% endfor %}
        <input type="submit" value="载入书籍文件" />
      </form>
      <form action="{{ url_for('select') }}" method="post">
        <h2>Select a Module</h2>
        {% for module in modules %}
        <label>
          <input type="checkbox" name="selected_modules" value="{{ module }}" />
          {{ module }}
        </label>
        {% endfor %}
        <br />
        <h2>Select Test Type</h2>
        <label class="testTypeOption">
          <input type="radio" name="test_type" value="word_matching" />
          看英文，输入中文意思
        </label>
        <label class="testTypeOption">
          <input type="radio" name="test_type" value="en_to_cn" />
          看英文，选择中文
        </label>
        <label class="testTypeOption">
          <input type="radio" name="test_type" value="cn_to_m_en" />
          英文和中文匹配
        </label>
        <label class="testTypeOption">
          <input type="radio" name="test_type" value="test_mode_en_to_cn" />
          看英文，选择中文(考试模式)
        </label>
        <label class="testTypeOption">
          <input type="radio" name="test_type" value="retest_mode_en_to_cn" />
          看英文，选择中文（不做完不结束）
        </label>
        <label class="testTypeOption">
          <input type="radio" name="test_type" value="listening_test" />
          听力测试
        </label>
        <label
          class="testTypeOption"
          id="specialTestTypeOption1"
          style="display: none"
        >
          <input type="radio" name="test_type" value="read_en_to_cn" />
          看英文，选择中文(有例句)
        </label>
        <label
          class="testTypeOption"
          id="specialTestTypeOption2"
          style="display: none"
        >
          <input type="radio" name="test_type" value="sentence_reorder_test" />
          语句排序
        </label>
        <input type="submit" value="Start Test" />
      </form>
      <a href="{{ url_for('logout') }}">Logout</a>
    </div>
  </body>
</html>
