<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Book, Module, and Test Type</title>
    <script>
        function updateTestTypeOptions() {
            var selectedBook = document.querySelector('input[name="selected_book"]:checked')?.value;
            var testTypeOptions = document.querySelectorAll('.testTypeOption');
            var specialTestTypeOption1 = document.getElementById('specialTestTypeOption1');
            var specialTestTypeOption2 = document.getElementById('specialTestTypeOption2');

            testTypeOptions.forEach(function(option) {
                option.style.display = 'none';
            });

            if (selectedBook && selectedBook.includes('_sentence')) {
                specialTestTypeOption1.style.display = 'block';
                specialTestTypeOption2.style.display = 'block';
            } else {
                testTypeOptions.forEach(function(option) {
                    if (!option.id.startsWith('specialTestTypeOption')) {
                        option.style.display = 'block';
                    }
                });
            }
        }


        // 在页面加载时执行
        document.addEventListener('DOMContentLoaded', function() {
            updateTestTypeOptions();
        });
    </script>

</head>
<body>
    <h1>Selection</h1>

    <!-- Book Selection -->
    <h2>Select a Book</h2>
    <form action="{{ url_for('select') }}" method="post">
        {% for book in books %}
        <label>
            <input type="radio" name="selected_book" value="{{ book }}" required 
                   {% if session['selected_book'] == book %} checked {% endif %}
                   onchange="updateTestTypeOptions()"> 
            {{ book }}
        </label>
        <br>
        {% endfor %}
        <input type="submit" value="Load Modules">
    </form>


    <!-- Module and Test Type Selection -->
    <form action="{{ url_for('select') }}" method="post">
        <h2>Select a Module</h2>
        {% for module in modules %}
        <label>
  <!--            <input type="radio" name="selected_module" value="{{ module }}" required> -->
            <input type="checkbox" name="selected_modules" value="{{ module }}">
            {{ module }}
        </label>
        <br>
        {% endfor %}
        <br>

        <h2>Select Test Type</h2>
        <!-- 常规测试类型选项 -->
        <label class="testTypeOption">
            <input type="radio" name="test_type" value="cn_to_en"> 看中文，写英文
        </label>
        <br><br>
        <label class="testTypeOption">
            <input type="radio" name="test_type" value="en_to_cn"> 看英文，选择中文
        </label>
        <br><br>
        <label class="testTypeOption">
            <input type="radio" name="test_type" value="cn_to_m_en"> 看中文，选择英文
        </label>
        <br><br>
        <label class="testTypeOption">
            <input type="radio" name="test_type" value="test_mode_en_to_cn"> 看英文，选择中文(考试模式)
        </label>
        <br><br>
        <label class="testTypeOption">
            <input type="radio" name="test_type" value="retest_mode_en_to_cn"> 看英文，选择中文（不做完不结束）
        </label>
        <br><br>

        <!-- 特定测试类型选项 -->
        <label class="testTypeOption" id="specialTestTypeOption1" style="display: none;">
            <input type="radio" name="test_type" value="read_en_to_cn"> 看英文，选择中文(有例句)
        </label>
        <br><br>
        <label class="testTypeOption" id="specialTestTypeOption2" style="display: none;">
            <input type="radio" name="test_type" value="sentence_reorder_test"> 语句排序
        </label>
        <br><br>
        <input type="submit" value="Start Test">
    </form>

    <br>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
