<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>English Word Test</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <style>
      /* 覆盖 currentWord 的样式 */
      #currentWord {
        font-family: "Courier New", Courier, monospace;
        color: #00ffaa;
      }
      /* 确保 extraInfo 部分的内容左对齐 */
      #extraInfo {
        text-align: left;
        margin-top: 20px;
      }
      #extraInfo p {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Word Test: <span id="currentWord">{{ word }}</span></h1>
      <form id="wordForm" action="/submit_word_test" method="post">
        <input
          type="hidden"
          name="english_word"
          id="english_word"
          value="{{ word }}"
        />
        <label for="chinese_word">Your answer:</label>
        <input type="text" id="chinese_word" name="chinese_word" required />
        <button type="button" onclick="startDictation()">Speak</button>
        <input type="submit" id="submitButton" value="Submit" />
      </form>
      <button id="nextWordButton" onclick="loadNextWord()" class="hidden">
        Next Word
      </button>
      <button
        id="summaryButton"
        class="hidden"
        onclick="window.location.href='/csv_summary'"
      >
        View Summary
      </button>
      <div id="resultDisplay"></div>
      <div id="extraInfo" class="hidden">
        <p>
          <span class="label">Explanation: </span
          ><span class="content" id="explanation"></span>
        </p>
        <p>
          <span class="label">Sentence: </span
          ><span class="content" id="sentence"></span>
        </p>
      </div>
      <div id="remainingWordsDisplay"></div>
      <!-- 显示剩余单词数量 -->
    </div>

    <script>
      document.getElementById("wordForm").onsubmit = function (event) {
        event.preventDefault();
        var submitButton = document.getElementById("submitButton");
        submitButton.disabled = true;
        var formData = new FormData(this);

        fetch(this.action, {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            submitButton.disabled = false;
            if (data.error) {
              alert(data.error);
            } else {
              var resultText = `<span class="label">Result: </span><span class="content">${data.result}</span>`;
              document.getElementById("resultDisplay").innerHTML = resultText;
              document.getElementById("explanation").textContent =
                data.explanation;
              document.getElementById("sentence").textContent = data.sentence;
              document.getElementById("extraInfo").classList.remove("hidden");
              document.getElementById(
                "remainingWordsDisplay"
              ).innerHTML = `<p>Remaining words: ${data.remaining_words}</p>`;

              if (data.test_completed) {
                document
                  .getElementById("nextWordButton")
                  .classList.add("hidden");
                document
                  .getElementById("summaryButton")
                  .classList.remove("hidden");
              } else {
                document
                  .getElementById("nextWordButton")
                  .classList.remove("hidden");
                document.getElementById("nextWordButton").onclick =
                  function () {
                    loadNextWord(data.next_word);
                  };
              }
            }
          })
          .catch((error) => {
            submitButton.disabled = false;
            console.error("Error during fetch operation:", error);
            alert("An error occurred while submitting your response.");
          });
      };

      function loadNextWord(next_word) {
        document.getElementById("currentWord").textContent = next_word;
        document.getElementById("english_word").value = next_word;
        document.getElementById("chinese_word").value = "";
        document.getElementById("resultDisplay").innerHTML = "";
        document.getElementById("extraInfo").classList.add("hidden");
        document.getElementById("remainingWordsDisplay").innerHTML = "";
        document.getElementById("nextWordButton").classList.add("hidden");
      }

      function startDictation() {
        var recognition = new webkitSpeechRecognition();
        recognition.lang = "zh-CN";
        recognition.onresult = function (event) {
          document.getElementById("chinese_word").value =
            event.results[0][0].transcript;
        };
        recognition.start();
      }

      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("nextWordButton").disabled = false;
      });
    </script>
  </body>
</html>
